apiVersion: v1
kind: Service
metadata:
  name: currencyservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: ClusterIP
  selector:
    app: currencyservice
  ports:
  - port: 7000
    targetPort: 7000

