apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  type: ClusterIP
  selector:
    app: cartservice
  ports:
  - port: 7070
    targetPort: 7070

