apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  namespace: cisco-shopping
  labels:
    app: currencyservice
spec:
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      nodeSelector:
        kubernetes.azure.com/mode: user
      tolerations:
      - key: "node-role"
        operator: "Equal"
        value: "app"
        effect: "NoSchedule"  
      serviceAccountName: currencyservice
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
      containers:
      - name: server
        image: us-central1-docker.pkg.dev/google-samples/microservices-demo/currencyservice:v0.10.4
        ports:
        - containerPort: 7000
        env:
        - name: PORT
          value: "7000"
        - name: DISABLE_PROFILER
          value: "1"  
        resources:
          requests:
            cpu: 100m
            memory: 64Mi
