apiVersion: v1
kind: Service
metadata:
  name: currencyservice
  namespace: cisco-shopping
spec:
  type: ClusterIP
  selector:
    app: currencyservice
  ports:
  - port: 7000
    targetPort: 7000