apiVersion: v1
kind: Service
metadata:
  name: currencyservice
  namespace: cisco-shopping
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  selector:
    app: currencyservice
  ports:
    - port: 7000
      targetPort: 7000
