apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cisco-mcn-eks-prod
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/sunaofficials/cisco-mcn-cd
    targetRevision: main
    path: eks-prod/applications
  destination:
    server: https://kubernetes.default.svc
    namespace: argocd
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
