apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: paymentservice
spec:
  type: ClusterIP
  selector:
    app: paymentservice
  ports:
  - name: grpc
    port: 50051
    targetPort: 50051
