apiVersion: v1
kind: Service
metadata:
  name: emailservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "0"
  labels:
    app: emailservice
spec:
  type: ClusterIP
  selector:
    app: emailservice
  ports:
  - name: grpc
    port: 5000
    targetPort: 8080
