apiVersion: apps/v1
kind: Deployment
metadata:
  name: redis-cart
spec:
  selector:
    matchLabels:
      app: redis-cart
  template:
    metadata:
      labels:
        app: redis-cart
    spec:
      nodeSelector:
        node-role: app
      containers:
      - name: redis
        image: redis:alpine
        ports:
        - containerPort: 6379

