apiVersion: v1
kind: Service
metadata:
  name: redis-cart
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
spec:
  selector:
    app: redis-cart
  ports:
  - port: 6379

