apiVersion: v1
kind: Service
metadata:
  name: recommendationservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: recommendationservice
spec:
  type: ClusterIP
  selector:
    app: recommendationservice
  ports:
  - name: grpc
    port: 8080
    targetPort: 8080
