apiVersion: v1
kind: Service
metadata:
  name: shippingservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: shippingservice
spec:
  type: ClusterIP
  selector:
    app: shippingservice
  ports:
  - name: grpc
    port: 50051
    targetPort: 50051
