apiVersion: v1
kind: Service
metadata:
  name: productcatalogservice
  namespace: cisco-shopping
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  labels:
    app: productcatalogservice
spec:
  type: ClusterIP
  selector:
    app: productcatalogservice
  ports:
  - name: grpc
    port: 3550
    targetPort: 3550
