apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice
  namespace: cisco-shopping
spec:
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      nodeSelector:
        node-role: app
      tolerations:
      - key: "node-role"  
        operator: "Equal"
        value: "app"
        effect: "NoSchedule"  
      serviceAccountName: recommendationservice
      containers:
      - name: server
        image: us-central1-docker.pkg.dev/google-samples/microservices-demo/recommendationservice:v0.10.4
        ports:
        - containerPort: 8080
        env:
        - name: PORT
          value: "8080"
        - name: DISABLE_PROFILER
          value: "1"  
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice:3550"