apiVersion: v1
kind: Service
metadata:
  name: recommendationservice
  namespace: cisco-shopping
spec:
  selector:
    app: recommendationservice
  ports:
  - port: 8080
    targetPort: 8080
