apiVersion: v1
kind: Service
metadata:
  name: productcatalogservice
  namespace: cisco-shopping
spec:
  selector:
    app: productcatalogservice
  ports:
  - port: 3550
    targetPort: 3550