apiVersion: v1
kind: Service
metadata:
  name: productcatalogservice
  namespace: cisco-shopping
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  selector:
    app: productcatalogservice
  ports:
  - port: 3550
    targetPort: 3550
